div {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding: 20px;
   
}

.flex-content {
    width: 220px;
    height: 70px;
    margin: 100px 50px 100px 50px; 
    font-weight: lighter;
 
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
  }
  .shop-container {
    display: flex;
    width: 90%;
    margin: auto;
  }
  .shop-item {
    width: 33%;
    padding: 10px;
    overflow:hidden;
  }

  .shop-item img {
    width: 100%;
    display: block;
    z-index: 100;

  }
.overlay-1{
    position:absolute ;
    background-color: rgb(0,0,0);
    width: 100%;
    height: 30%;
    opacity: 0.2;
    top: 100%;
    transition: 1s;
}

.overlay-2{
    position:absolute ;
    background-color: rgb(0,0,0);
    width: 100%;
    height: 30%;
    opacity: 0.2;
    top: 100%;
    transition: 1s;
}

.overlay-3{
    position:absolute ;
    background-color: rgb(0,0,0);
    width: 100%;
    height: 30%;
    opacity: 0.2;
    top: 100%;
    transition: 1s;
}
/* .overlay:hover{
    opacity: 0.5;
    top: 70%;
}  */

.target-product1:hover ~.overlay-1{
    opacity: 0.5;
    top: 70%;
}

.target-product2:hover ~.overlay-2{
    opacity: 0.5;
    top: 70%;
}
.target-product3:hover ~.overlay-3{
    opacity: 0.5;
    top: 70%;
}
/* 이미지와 오버레이 요소 순서가 매우 중요함.. 앞뒤만 바뀌어도 트랜지션 애니메이션 동작 불가.. */

.product-price{
    color: white;
    font-size: 4rem;
    margin: 0;
}

.product-tag{
    color: white;
    font-size: 2rem;
}
@media screen and (max-width : 1200px) {
.wrapper {
    flex-wrap: wrap; 
    max-width: 995px;
}
}
@media screen and (max-width : 768px) {
.wrapper {
    flex-direction: column;
}

}